$card-bg-color: #606060;

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.category-name {
    font-size: 26px;
    margin: 17px;
    place-self: start;

}

.product-card {

    width: 80%;
    font-size: 10px;
    border: 1px solid $card-bg-color;
    border-radius: 10px;
    background-color: $card-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .product-name {
        margin: 10px 0 0 0 ;
        font-size: 15px;
        width: 90%;
        padding: 10px 0;
        background-color: rgb(31, 31, 31);
        border-radius: 10px 10px 0 0 ;
    }

    .product-info {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        align-items: center;
        
        .product-weight {
            font-size: 14px;
        }

        .product-price {
            font-size: 19px;
            align-self: start;
        }
    }

    img {
        width: 90%;
        border-radius: 0 0 10px 10px;
    }

    .add-button {
        color: whitesmoke;
        background-color: rgba(38, 38, 38, 0.734);
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid rgba(245, 245, 245, 0.415);
    }
}

@media (min-width: 768px) {
    .main-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .category-name {
        grid-column: span 2;
    }
    
    div.nav-flex {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .main-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .category-name {
        grid-column: span 3;
    }
}

@media (min-width: 1440px) {
    .main-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .category-name {
        grid-column: span 4;
    }
}