{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'content/css/base.css' %}">
    {% block link %}{% endblock link %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    <div class="body-wrapper">
        <header class="header header-wrapper">
            <div class="company-name">
                <img class="logo-img" src="{% static 'content/image/logo.png'%}" alt="">
            </div>
            <a class="nav-item menu" href="{% url 'menu_page' %}">
                <div class="nav-flex">
                    <div class="img-box">
                        <img src="{% static 'content/ico/menu.png'%}" class="menu-ico" alt=""> 
                    </div>
                    МЕНЮ
                </div>
            </a>
            <a class="nav-item about" href="{% url 'about' %}">
                <div class="nav-flex">
                    <div class="img-box">
                        <img src="{% static 'content/ico/about.png'%}" class="menu-ico" alt="">
                    </div>
                    О НАС
                </div>
            </a>
            <a class="nav-item cart" href="#">
                <div class="nav-flex">
                    <div class="img-box">
                        <img src="{% static 'content/ico/cart.png'%}" class="menu-ico" alt=""> 
                    </div>
                    КОРЗИНА
                </div>
            </a>
            <a class="nav-item profile" href="{% url 'profile' %}">
                <div class="nav-flex">
                    <div class="img-box">
                        <img src="{% static 'content/ico/profile.png'%}" class="menu-ico" alt="">
                    </div>
                    ПРОФИЛЬ
                </div>
            </a>
        </header>
        <main class="main main-wrapper">{% block main %}{% endblock main %}</main>
        <footer class="footer">{% block footer %}{% endblock footer %}</footer>
    </div>

</body>

</html>